@import url('hhttps://fonts.google.com/specimen/Karla');

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

:root{
    /* Variables para los pesos (Weights) */
    --fw-normal: 400;
    --fw-bold: 700;
    
    /* Variable de fuente */
    --ff-karla: 'Karla', sans-serif;
    
    display:flex;
    align-items: center;
    justify-content: center;
}

body{
    position: relative;
    margin:0;
    width: 100vw;
    min-height: 100vh;
    background:  hsl(148, 38%, 91%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    font-family: var(--ff-karla);
    font-weight: var(--fw-normal); /* Peso por defecto */
    /* ... tus otros estilos de centrado ... */

    color: hsl(187, 24%, 22%);
    font-size: 16px;
}

main{
    margin-top: 1rem;
    margin-bottom: 2rem;
    padding: 1rem;
    width: 500px;
    height: auto;
    background: white;
    border-radius: 10px;
}

h1{
    font-weight: var(--fw-bold);
}

input[type="text"], input[type="email"]{
    padding:0.5rem;
}

input[type="text"]:hover, input[type="email"]:hover{
    border:2px solid hsl(186, 15%, 59%);
    border-radius: 5px;
    cursor:pointer;
}

input[type="text"]:focus, input[type="email"]:focus, textarea:focus{
   outline-color:  hsl(186, 15%, 59%);
   
    
}


.form-row{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 1rem;
}

.form-group{
    width: 100%;
    display:flex;
    flex-direction: column;
    justify-content: flex-start;  
}

#first-name{
    margin-right: 1rem;
}

fieldset{
    border:none;
    margin:0;
    padding:0;
}

.query-options{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.query-container{
    margin-bottom: 1rem;
}

.radio-card{
    width: 48%;
    border: 1px solid hsl(187, 24%, 22%);
    border-radius: 5px;
    cursor: pointer;
    padding-top:0.5rem;
    padding-bottom:0.5rem;
    user-select: none;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.radio-card label{
    margin:0;
    margin-top: 5px;
    margin-left: .5rem;
    cursor: pointer;
}

input[type="radio"]{
    -webkit-appearance: none;
    appearance: none;
    margin-left: 0.5rem;
    width: 20px;
    height: 20px;
    border: 1px solid  hsl(187, 24%, 22%);
    border-radius: 50%;
    cursor: pointer;

    background-position: center;
    background-repeat: no-repeat;
    background-size: 0; /* Oculta la imagen cuando NO está seleccionado */
    transition: all 0.2s; /* Animación suave */
}

input[type="radio"]:checked{
    appearance: none;
    background-image: url("../assets/images/icon-radio-selected.svg");
    border-color: transparent; /* O el color que prefieras */
    background-size: 100%; /* Ahora sí mostramos la imagen */
}

.radio-card:has(input:checked) {
    background-color: hsl(148, 38%, 91%);
    border: 1px solid hsl(169, 82%, 27%); 
}

.error-msg{
    color:red;
    font-size: smaller;
    display: none;
}

.error-msg.visible{
    display: inline;
}



label,legend{
    margin-bottom: .5rem;
}

.textarea-msg{
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

#message-box{
    height: 4rem;
}

.agreecheck-container{
    margin-top: 0.5rem;
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

#agree{
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border: 1px solid  hsl(187, 24%, 22%);
    border-radius: 3px;
    cursor: pointer;

    background-position: center;
    background-repeat: no-repeat;
    background-size: 0; /* Oculta la imagen cuando NO está seleccionado */
    transition: all 0.2s; /* Animación suave */
}

#agree:checked{
    appearance: none;
    background-image: url("../assets/images/icon-checkbox-check.svg");
    border-color: transparent; /* O el color que prefieras */
    background-size: 100%; /* Ahora sí mostramos la imagen */
}

#agree-check label{
    margin-left: .5rem;
    margin-top: 10px;
}

#divCheckbox{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: auto;
    margin-bottom: 1.5rem;
}  

#submit{
    background-color: hsl(169, 82%, 27%);
    border-radius: 5px;
    color: white;
    font-size: var(--fw-bold);
    border: none;  
    width: 100%;
    height: 40px;         

}

#submit:hover{
    cursor: pointer;
    background-color:  hsl(187, 24%, 22%);
}

#submit:active{
    background-color:  hsl(186, 15%, 59%);
}

.form-success{
    display: none;

    opacity: 0;
    visibility: hidden;
    transition: opacity 2s ease, visibility 2s;
}

.form-success.visible{
    position:absolute;
    top:10px;
    left: 50%;
    transform: translateX(-50%);
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: white;
    background-color:  hsl(187, 24%, 22%);
    border-radius: 10px;

    opacity: 1;
    visibility: visible;
}

#msgsent{
    font-weight: bolder;
    font-size: larger;
    position: relative;
}

#msgsent span{
    margin-left: 2rem;
}

#msgsent img{
    position: absolute;
    top:0px;
}

#msgsentl1{
    margin-left: 2rem;
} 

#msgcontent{
    font-size: small;
    margin-top: .5rem;
}

.redBorder{
    border-color: red;
    border-radius: 5px;
}
